# todo configuration
# v 0.0.1

# Support file paths:
#
# todo needs to keep a database and log files in a directory it has
# permission to write to.
# The default directory is .todo inside the user's home directory. All the other files
# are then stored inside of it.

#direc:    ~/.todo 
#db:       ~/.todo/todo.db

# Peers:
#
# todo allows de-centralized syncing of the database over any number of systems.
#
# When peers are configured, todo will attempt to connect to them after any changes.
# If connecting fails, changes can always be made locally and will be circulated when
# a connection is available.
#
# To add a peer, simply add a remote address and optionally a public key file for 
# authentication. Setting the method to 'pass' or leaving it blank will ask
# for the password on connection. If a key is already set up with ssh, or the remote
# system has no password, no password will be required.
#
# Of course, each remote system will need to have todo already installed. 

peer:    # 192.168.2.1
method:  # key ~/.ssh/somekey.pem

peer:    # joeuser@some.host.com
method:  # pass 
